.spacer {
    flex: 1 1 auto;
}
.logoImg{
    width:13rem;
    
}
@media screen and (max-width:450px) {
    .navbarwraper {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 999;
    }
    .logoImg{
    width:10rem;
    margin-left: 0px !important;
    margin-right:px !important;
    
}
}