<div class="navbarwraper">
    <mat-toolbar color="primary" >
<div>
  <img class="logoImg ms-3 mt-3" src="./assets/task logo.png" alt="tsk-Tracker-Logo">
</div>

  <span class="spacer"></span>

  <button mat-button routerLink="dashbord/home">Home</button>
  <button mat-button routerLink="dashbord/tasks">Tasks</button>
  @if(isLogin){
    <button mat-button routerLink="auth/login" (click)="logout()">SignOut</button>
    
  }
  @if(!isLogin){
    <button mat-button routerLink="auth/login">Login</button>

  }
</mat-toolbar>
</div>