.calenderstyle{
    height: 80vh !important;
    width: 97% !important;
    cursor: pointer;
}
mat-drawer-container{
  height: 90vh;
  
}
.profile{ 
  position: absolute !important;
  bottom: 5rem !important;
}