.taskWrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border-radius: 10px;
  min-height: 70vh;
  height: auto;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow-y: scroll;
}
.taskItem {
  align-items: center;
  border-radius: 10px;
}
.dueDate {
  display: inline-block;
  margin-left: 10px;
  //  margin-right: 10px;
}
.dtWrppr {
  height: 20px;
}
.cnclbtn {
  margin-bottom: 5px;
}

.addtaskBtn {
  position: absolute;
  bottom: 14rem;
  right: 25rem;
}
.taskDone{
  text-decoration: line-through;
}
@media screen and (max-width: 968px) {
  .taskWrapper {
    width: 100%;
  }
  .addtaskBtn {
    // position: absolute;
    position: fixed;
    bottom: 15%;
    right: 20%;
    z-index: 999;
  }
}
.updtbtn {
  // background-color: rgb(41, 99, 245) !important;
  background-color: #0777d2;
  border-radius: 10px !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 3px;
  height: 35px;
}
.mat-button{
  color: #0777d2;
}
// .paiortyRed{ background-color: #f31c1c; color: white ; padding: 12px; border-radius: 8px; -webkit-border-radius:; -moz-border-radius:; -ms-border-radius:; -o-border-radius:;
// }
.paiortyRed{
      background-color: #f31c1c;
    color: white;
    border-radius: 8px;
    padding: 5px;
    -webkit-border-radius: 8px;
    height: 26px !important;
}
.paiortyYellow{
  background-color:#e7a50c;
  color: black;
    border-radius: 8px;
    padding: 5px;
    -webkit-border-radius: 8px;
    height: 26px !important;
  -webkit-border-radius:8px ;
  -moz-border-radius:8px ;
  -ms-border-radius:8px ;
  -o-border-radius:8px ;
}
.paiortyblue{
  background-color:	#0777d2;
  color: white;
    border-radius: 8px;
    padding: 5px;
    -webkit-border-radius: 8px;
    height: 26px !important;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
mat-drawer-container{
  height: 90vh;
  
}
.profile{ 
  position: absolute !important;
  bottom: 5rem !important;
}