<div class="row">
    <div class="col-md-2 ">
<mat-drawer-container class="example-container position-relative w-100" autosize>
  <mat-drawer #drawer class="slider w-75 " mode="side">
   <div class="d-flex flex-column align-items-center">
     <button role="button" class="my2 btn btn-outline-primary" routerLink="/dashbord/tasks">Task's List</button>
    <button  role="button" class="my2 btn btn-outline-primary" routerLink="/dashbord/analysis"> <mat-icon>bar_chart</mat-icon>analysis</button>
   </div>
    <div class="w-100">
      <button role="button" class="my2 btn btn-outline-primary profile ms-4" routerLink="Profile">Profile</button>
    </div>
    
  
  </mat-drawer>

  <div class="example-sidenav-content overflow-hidden">
    <p></p>
    <button class="btn btn-outline-primary mx-2 my-3"  matButton (click)="drawer.toggle()">
      ☰
    </button>

  </div>

</mat-drawer-container>

    </div>

    
  <div class="col-md-10">
    <div class="container ">
  <h1 class="fw-bold mt-4">Task's</h1>
  <div class="taskWrapper mat-elevation-z3 p-2 position-relative">
 @if(tasksList){
     @for (item of tasksList; track $index) {
      <div   class="taskItem mat-elevation-z2 px-1 py-3 mb-2 ">
        <div class="d-flex algin-center ">
          <div class="fs-5" >
            @if(!item.done){
              <div class="d-flex">
              <mat-icon  >donut_large</mat-icon>
               <p class="ms-2 fw-bold " role="button"  (touchstart)="disableIsDoneItems(item.id,item)" (click)="enableIsDoneItems(item.id,item)">{{ item.title }} <span class="text-info"> (Progress {{ item.progress }}%)</span></p>
                </div>
            }@if(item.done){
              <div class="d-flex">
                <mat-icon  class="text-primary" >check_circle</mat-icon>
             <p class="ms-2 fw-bold taskDone" role="button"  (touchstart)="disableIsDoneItems(item.id,item)" (click)="disableIsDoneItems(item.id,item)">{{ item.title }} <span class="text-info"> (Progress {{ item.progress }}%)</span></p>
              </div>
            }
          </div>
        </div>
        <div class="d-flex justify-content-between algin-center dtWrppr mb-2">
          <span class="dueDate">Time :{{ item.date | date:'medium' }}</span>
          <span  [ngClass]="{
              'paiortyRed': item.Priority?.trim() === 'High',
              'paiortyYellow': item.Priority?.trim() === 'Meduim',
              'paiortyblue': item.Priority?.trim() === 'Low', }">
          {{ item.Priority }}
          </span>
         
          <div class="d-flex align-items-center">
            <button mat-button (click)="patchValue($index)" class="updtbtn btn btn-primary">
              <mat-icon class="text-white align-middle">border_color</mat-icon>
            </button>
            <mat-icon
              role="button"
              class="text-danger d-inline-block ms-auto cnclbtn"
              (click)="deleteTask(item.id!)"
              >highlight_off</mat-icon
            >
          </div>
          <!-- <mat-icon role="button" class="text-danger d-inline-block ms-auto " (click)="updateItem($event)"></mat-icon> -->
        </div>
      </div>
    }
 }
  </div>
  <button 
    mat-fab="elevated"
    (click)="addNewTask($event)"
    class="addtaskBtn fs-3"
  >
    +
  </button>
</div>
  </div>


</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
