<div class="container w-100 ">
  <h1 class="fw-bold mt-4">Task's</h1>
  <div class="taskWrapper mat-elevation-z3 p-2 ">
    @for (item of tasksList; track $index) {
      <div class="taskItem mat-elevation-z2 p-3">
        <div class="d-flex algin-center  position-relative">
            <div class="  fs-5">
            @if (item.done === false) {<mat-icon >donut_large</mat-icon>}
            @if (item.done === true) {<mat-icon class="text-primary">check_circle</mat-icon>}
        </div>
        @if(item.done===true){
          <p class="ms-2 fw-bold taskItemStyle"> {{ item.title }}</p>

        }@else {
          <p class="ms-2 fw-bold"> {{ item.title }}  <span class="text-info" > (Progress {{item.progress}}%)</span> </p>

        }
        </div>
            <div  class="d-flex space-between algin-center dtWrppr">
            <span class="dueDate">Due:{{item.date| date }}</span>
            <mat-icon role="button" class="text-danger d-inline-block ms-auto cnclbtn " (click)="deleteTask(item)">highlight_off</mat-icon>
            </div>
        </div>
    }
  </div>
  <button mat-fab="elevated" (click)="addNewTask($event)" class=" addtaskBtn fs-3">+</button>
</div>
