<div class="container w-100">
  <h1 class="fw-bold mt-4">Task's</h1>
  <div class="taskWrapper mat-elevation-z3 p-2 position-relative">
 @if(tasksList){
     @for (item of tasksList; track $index) {
      <div   class="taskItem mat-elevation-z2 px-1 py-3 mb-2 ">
        <div class="d-flex algin-center ">
          <div class="fs-5" >
            @if(!item.done){
              <div class="d-flex">
              <mat-icon  >donut_large</mat-icon>
               <p class="ms-2 fw-bold " role="button"  (touchstart)="disableIsDoneItems(item.id,item)" (click)="enableIsDoneItems(item.id,item)">{{ item.title }} <span class="text-info"> (Progress {{ item.progress }}%)</span></p>
                </div>
            }@if(item.done){
              <div class="d-flex">
                <mat-icon  class="text-primary" >check_circle</mat-icon>
             <p class="ms-2 fw-bold taskDone" role="button"  (touchstart)="disableIsDoneItems(item.id,item)" (click)="disableIsDoneItems(item.id,item)">{{ item.title }} <span class="text-info"> (Progress {{ item.progress }}%)</span></p>
              </div>
            }
          </div>
        </div>
        <div class="d-flex justify-content-between algin-center dtWrppr mb-2">
          <span class="dueDate">Time :{{ item.date | date:'medium' }}</span>
          <span  [ngClass]="{
              'paiortyRed': item.Priority?.trim() === 'High',
              'paiortyYellow': item.Priority?.trim() === 'Meduim',
              'paiortyblue': item.Priority?.trim() === 'Low', }">
          {{ item.Priority }}
          </span>
         
          <div class="d-flex align-items-center">
            <button mat-button (click)="patchValue($index)" class="updtbtn btn btn-primary">
              <mat-icon class="text-white align-middle">border_color</mat-icon>
            </button>
            <mat-icon
              role="button"
              class="text-danger d-inline-block ms-auto cnclbtn"
              (click)="deleteTask(item.id!)"
              >highlight_off</mat-icon
            >
          </div>
          <!-- <mat-icon role="button" class="text-danger d-inline-block ms-auto " (click)="updateItem($event)"></mat-icon> -->
        </div>
      </div>
    }
 }
  </div>
  <button 
    mat-fab="elevated"
    (click)="addNewTask($event)"
    class="addtaskBtn fs-3"
  >
    +
  </button>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
