.taskWrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border-radius: 10px;
}
.taskItem {
  align-items: center;
  border-radius: 10px;
}
.dueDate{
  display: inline-block;
 
}
.dtWrppr{
 height: 20px;
}
.cnclbtn{
  margin-bottom: 5px;
}